<?xml version="1.0"?>
<phpunit 
    bootstrap="public/autoloader.php"
    colors="true"
    backupGlobals="false"
    strict="false"
    verbose="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    stopOnError="true">
        
    <testsuites>

        <testsuite name="Kava Testing">
            <directory>test/lib/Kava</directory>
        </testsuite>

    </testsuites>

    <filter>

        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
            <exclude>
                <directory suffix=".php">lib/ClassLoader</directory>
                <directory suffix=".php">public</directory>
            </exclude>
        </whitelist>

    </filter>
    
    <logging>
        
        <log type="coverage-html" target="public/coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
    
    </logging>

</phpunit>